<footer class="">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
  </svg>
  <div class="container row">
    <nav class="footer__social col-xs-12">
      <ul>
        <li><a href="#"><img src="{{ site.baseurl }}/img/icons/social/facebook.png" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/img/icons/social/google-plus.png" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/img/icons/social/instagram.png" alt=""></a></li>
        <li><a href="#"><img src="{{ site.baseurl }}/img/icons/social/whatsapp.png" alt=""></a></li>
      </ul>
    </nav> 
    <nav class="footer__nav col-xs-12 col-sm-6">
      <ul>
        <li><h4>Navigation</h4></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Promotions</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <nav class="footer__nav col-xs-12 col-sm-6">
      <ul>
        <li><h4>Timings</h4></li>
        <li>Mon - Thu: 10 am - 10 pm</li>
        <li>Fri: 2 am - 10 pm</li>
        <li>Sat - Sun: 10 am - 10 pm</li>
      </ul>
    </nav>
  </div>

</footer>
</div> <!-- wrapper -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>

</body>
</html>