<footer class="">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
  </svg>
  <div class="container">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Promotions</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>

</footer>
</div> <!-- wrapper -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>

</body>
</html>