/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    position: relative;
    line-height: 1;
    overflow-x: hidden;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: 700;
}

// Mixins

body {
    position: relative;
    font-size: 14px;
    color: #404040;
    // background-color: $background-color;
    -webkit-animation: bugfix infinite 1s;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

@include media-query($sm) {
    body {
        font-size: 16px;
    }
}

/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font;
    font-weight: 900;
}

h1 { font-size: 10.250em; color: #202020;}
h2 { font-size: 2.250em; color: #282828; }
h3 { font-size: 1.750em; color: #303030; }
h4 { font-size: 1.50em;  color: #383838; }
h5 { font-size: 1.250em; color: #505050; }
h6 { font-size: 1em;     color:#a0a0a0;  }

p,a,span {
    font-family: $body-font;
    font-size: 1.250em;
    font-weight: 400;
    line-height: 1.435;
    color: $text-color;
}

em {
    font-size: 1em;
    font-weight: 700;
}


a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

li {
    font-family:    $body-font;
    font-size:      1.150em;
    font-weight:    400;
    line-height:    1.635;
    a {
        font-size:  inherit;
        color:  inherit;
    }
}

.h3-custom {
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 900;
}

.h4-custom {
    font-size: 1.250em;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    color: $grey-color;
}

.small-p {
    font-size: 1em;
}

.index {
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@include media-query($sm) {
    .container {
        
    }
}

@include media-query($md) {
    .container {
        padding: 0;
        max-width: 960px;
    }
}

@include media-query($lg) {
    .container {
        max-width: 1024px;
    }
}

@include media-query($xl) {
    .container {
        max-width: 1280px;
    }
}

.index__main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('../img/salon/1.jpg');
    background-size: cover;
    background-position: center center;
    svg {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: rgba(255,255,255,0.50);
        overflow: hidden;
    }
    &::before {
        position: absolute;
        content: '';
        width: 100vw;
        height: 120vh;
        top: 0;
        left: -55vw;
        transform: skew(-15deg);
        background: rgba(white,0.75);
        overflow: hidden;
    }
    h1 {
        position: relative;
        display: table-caption;
        font-size: calc(5em + 2vw);
        font-weight: 900;
        letter-spacing: 2px;
        line-height: 1;
        text-transform: uppercase;
        top: 50%;
        transform: translateY(50%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(135deg,$text-color 65%,#fff);
        background-image: -webkit-linear-gradient(135deg,$text-color 65%,#fff);
    }
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header__contact {
    position: absolute;
    display: none;
    box-sizing: border-box;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 0;
    p {
        font-size: 1em;
        color: $text-color;
        text-align: right;
    }
}

.header__xs {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    box-shadow: none;
    padding: 10px 0 10px 0;
    background: white;
    transition: all 0.2s linear;
    z-index: 500;
    .logo__xs {
        box-sizing: border-box;
        display: inline-block;
        width: 59%;
        text-align: left;
        vertical-align: middle;
        img {
            // max-height: 50px;
            width: 100%;
            max-width: 200px;
            vertical-align: middle;
        }
    }
    .menu__xs {
        box-sizing: border-box;
        display: inline-block;
        width: 39%;
        padding: 5px 0;
        text-align: right;
        vertical-align: middle;
        color: $text-color;
        font-size: 1em;
        text-transform: uppercase;
        span {
            padding-right: 5px;
        }
        .icon {
            font-size: 1em;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.nav__xs {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($text-color,0.80);
    z-index: 300;
    overflow: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.15s cubic-bezier(1,0,0,1), transform 0.3s cubic-bezier(1,0,0,1);
}

.nav__xs.show {
    transform: translateX(0);
    opacity: 1;
}

.header__sm {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    box-shadow: none;
    padding: 15px 0 15px 0;
    background: transparent;
    transition: all 0.2s linear;
    z-index: 100;

    .logo__sm {
        box-sizing: border-box;
        display: inline-block;
        width: 49%;
        text-align: left;
        vertical-align: middle;
        img {
            max-height: 50px;
            width: auto;
            vertical-align: middle;
        }
    }
    nav {
        box-sizing: border-box;
        display: inline-block;
        text-align: right;
        width: 50%;
        vertical-align: middle;
        ul {
            list-style: none;
            li {
                display: inline-block;
                padding: 10px 0;
                &:not(:last-child) {
                    margin-right: 30px;
                }
                a {
                    font-size: 1em;
                    color: white;
                }
            }
        }
    }
}

.header__sm.resize {
    background: white;
    padding: 10px 0;
    box-shadow: 0 0 4px 0 rgba(41,39,44,0.25);
    a {
        color: $text-color;
    }
}
.header__xs.resize {
    padding: 10px 0;
    box-shadow: 0 0 4px 0 rgba(41,39,44,0.25);
}

@include media-query($sm) {
    .header__sm {
        display: block;
    }
    .header__xs {
        display: none;
    }
}

.index__organic {
    position: relative;
    min-height: 50vh;
    width: 100%;
    background: #fdf06f;
    padding-top: 120px;
    padding-bottom: 150px;
    &::before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-bottom: 50px solid #fdf06f;
        border-left: 100vw solid transparent;

        top: -50px;
        left: 0;
        right: 0;
    }
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 300px;
        left: 0;
        right: 0;
        top: -200px;
        transform: rotate(-5deg);
        background: url('../img/divider/1.2.png') no-repeat;
        background-size: 300px auto;
        background-position: center center;
    }
    h1 {
        text-transform: uppercase;
        font-size: 3.250em;
        font-weight: 900;
        letter-spacing: 0.0250em;
        line-height: 1.2;
        margin-bottom: 15px;
    }
    p {
        max-width: 700px;
    }
}

.index__organic-features {
    position: relative;
    top: -100px;
    .organic-features {
        position: relative;
        padding: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 300px;
        background: white;
        box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        &::after {
            position: absolute;
            content: '';
            top: 15px;
            left: 15px;
            width: calc(100% - 32px);
            height: calc(100% - 32px);
            border: 2px dashed $text-color;
        }
        .organic-features__content {
            padding: 30px 15px;
        }
        .organic-features__top {
            position: relative;
            padding-bottom: 15px;
            img {
                width: 75px;
                height: 75px;
                padding-bottom: 15px;
            }
            h4 {
                padding-bottom: 15px;
            }
            &::after {
                position: absolute;
                content: '';
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
                width: 15%;
                height: 2px;
                background: $text-color;
            }
        }
    }
}


@include media-query($xs) {
    .index__organic {
        &::after {
            background-size: 500px auto;
        }
    }
}

@include media-query($sm) {
    .index__organic-features {
        .organic-features {

        }
    }
}


/*------------------------------------*\
  #INDEX-CONTACT
\*------------------------------------*/

.index__contact {
    form {
        input {
            max-width: 280px;
        }
    }
}

/*------------------------------------*\
  #INDEX-LOCATION-MAP
\*------------------------------------*/

.index__location {
    h2 {
        position: relative;
        top: 0.50em;
        font-size: 4em;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
    }
}


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
    position: relative;
    background: #262626;
    width: 100%;
    padding: 100px 0;
    svg {
        position: absolute;
        content: '';
        fill: #262626;
        width: 100%;
        top: -48px;
        left: 0;
        right: 0;
        height: 50px;
    }
    nav {
        color: white;
    }
}